body{
    background: gray;
    height: 100%;
}
.navbar-brand{
    background-color: teal;
    color: white !important;
    padding: 10px;
    width: 100%;
    margin: 0;
    text-align: center;
}
.navbar{
    width: 100%;
}
.nav-link{
    color: lightslategray;
}
main{
    margin: 10px;
}
.about{
    color: teal;
}
.container{
    background: white;
    padding-bottom: 15px;
    padding-top: 15px;
}
.footer{
    background: darkgray;
    text-align: center;
    border-top: 10px solid teal;
}

@media screen and (min-width: 768px){
    .navbar-brand{
        width: 33% !important;
    }
    .navbar{
        width: 67%
    }
}
@media screen and (min-width: 980px){
    .container{
        margin-left: 2.10459184%;
    }
}